---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<YOUTUBE_DATA_KEY>&maxResults=50&part=snippet&publishedAfter=2019-03-28T22:46:29Z&q=Nectar%20in%20a%20Sieve1250&type=video&videoEmbeddable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Honeycomb-Trace:
      - 1;dataset=,trace_id=50832a56-5326-4ecf-b1ce-444f31eca660,parent_id=1b2c81ea-0dac-4c9f-a63f-ea8c899141a5,context=e30=
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ksCrgYQhtFrXgbHAhi9Fo5t0C2I/bEp8TJtXaQPPaCi1eBoGyYvAK5k"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"ksCrgYQhtFrXgbHAhi9Fo5t0C2I/bEp8TJtXaQPPaCi1eBoGyYvAK5k\"",
         "regionCode": "US",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 50
         },
         "items": []
        }
  recorded_at: Sat, 28 Mar 2020 22:46:30 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<YOUTUBE_DATA_KEY>&maxResults=50&part=snippet&publishedAfter=2019-03-28T22:46:30Z&q=literally,%20hella,%20narwhal,%20tousled&type=video&videoEmbeddable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Honeycomb-Trace:
      - 1;dataset=,trace_id=50832a56-5326-4ecf-b1ce-444f31eca660,parent_id=86489cb8-ea71-45aa-a46e-c72ec1f96397,context=e30=
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ksCrgYQhtFrXgbHAhi9Fo5t0C2I/bEp8TJtXaQPPaCi1eBoGyYvAK5k"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"ksCrgYQhtFrXgbHAhi9Fo5t0C2I/bEp8TJtXaQPPaCi1eBoGyYvAK5k\"",
         "regionCode": "US",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 50
         },
         "items": []
        }
  recorded_at: Sat, 28 Mar 2020 22:46:30 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<YOUTUBE_DATA_KEY>&maxResults=50&part=snippet&publishedAfter=2019-03-28T22:46:30Z&q=literally,%20hella,%20narwhal,%20tousled&type=video&videoEmbeddable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Honeycomb-Trace:
      - 1;dataset=,trace_id=8058d837-dffb-4a99-92f5-512cb704848e,parent_id=5da76429-142a-4857-b427-b2664e3456d1,context=e30=
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ksCrgYQhtFrXgbHAhi9Fo5t0C2I/bEp8TJtXaQPPaCi1eBoGyYvAK5k"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"ksCrgYQhtFrXgbHAhi9Fo5t0C2I/bEp8TJtXaQPPaCi1eBoGyYvAK5k\"",
         "regionCode": "US",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 50
         },
         "items": []
        }
  recorded_at: Sat, 28 Mar 2020 22:46:30 GMT
recorded_with: VCR 5.1.0
