---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<YOUTUBE_DATA_KEY>&maxResults=50&part=snippet&publishedAfter=2019-03-28T22:46:45Z&q=Let%20Us%20Now%20Praise%20Famous%20Men1284&type=video&videoEmbeddable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Honeycomb-Trace:
      - 1;dataset=,trace_id=c739b1ad-4826-470c-9a90-ba25bc0ba3c8,parent_id=c2e10895-c61c-4532-b332-31e6f72cb7c7,context=e30=
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ksCrgYQhtFrXgbHAhi9Fo5t0C2I/bEp8TJtXaQPPaCi1eBoGyYvAK5k"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"ksCrgYQhtFrXgbHAhi9Fo5t0C2I/bEp8TJtXaQPPaCi1eBoGyYvAK5k\"",
         "regionCode": "US",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 50
         },
         "items": []
        }
  recorded_at: Sat, 28 Mar 2020 22:46:45 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<YOUTUBE_DATA_KEY>&maxResults=50&part=snippet&publishedAfter=2019-03-28T22:46:45Z&q=locavore,%20etsy,%20yolo,%20whatever&type=video&videoEmbeddable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Honeycomb-Trace:
      - 1;dataset=,trace_id=c739b1ad-4826-470c-9a90-ba25bc0ba3c8,parent_id=c1c84586-ca0a-40ab-bb07-ddb1735baafa,context=e30=
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ksCrgYQhtFrXgbHAhi9Fo5t0C2I/bEp8TJtXaQPPaCi1eBoGyYvAK5k"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"ksCrgYQhtFrXgbHAhi9Fo5t0C2I/bEp8TJtXaQPPaCi1eBoGyYvAK5k\"",
         "regionCode": "US",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 50
         },
         "items": []
        }
  recorded_at: Sat, 28 Mar 2020 22:46:46 GMT
recorded_with: VCR 5.1.0
