---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<YOUTUBE_DATA_KEY>&maxResults=50&part=snippet&publishedAfter=2019-03-28T22:46:47Z&q=Endless%20Night1285&type=video&videoEmbeddable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Honeycomb-Trace:
      - 1;dataset=,trace_id=07e504ed-a0bc-4ab6-9676-61cbc0fa6506,parent_id=dde2ed8a-1e32-4571-8389-06fae2560311,context=e30=
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ksCrgYQhtFrXgbHAhi9Fo5t0C2I/bEp8TJtXaQPPaCi1eBoGyYvAK5k"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"ksCrgYQhtFrXgbHAhi9Fo5t0C2I/bEp8TJtXaQPPaCi1eBoGyYvAK5k\"",
         "regionCode": "US",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 50
         },
         "items": []
        }
  recorded_at: Sat, 28 Mar 2020 22:46:47 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<YOUTUBE_DATA_KEY>&maxResults=50&part=snippet&publishedAfter=2019-03-28T22:46:47Z&q=banjo,%20sustainable,%20tacos,%20pinterest&type=video&videoEmbeddable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Honeycomb-Trace:
      - 1;dataset=,trace_id=07e504ed-a0bc-4ab6-9676-61cbc0fa6506,parent_id=d0a55c7c-59aa-4897-98d3-fedfe3f554a8,context=e30=
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ksCrgYQhtFrXgbHAhi9Fo5t0C2I/bEp8TJtXaQPPaCi1eBoGyYvAK5k"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"ksCrgYQhtFrXgbHAhi9Fo5t0C2I/bEp8TJtXaQPPaCi1eBoGyYvAK5k\"",
         "regionCode": "US",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 50
         },
         "items": []
        }
  recorded_at: Sat, 28 Mar 2020 22:46:47 GMT
recorded_with: VCR 5.1.0
