<div class="youtube-videos">
</div>

<script>
function displayVideos(data) {
    let videoContainer = document.querySelector('.youtube-videos')
    let videos = data.data.attributes.videos
    let length = videos.length
    if (length === 0) {
      return videoContainer.innerHTML = `
      <h2>Looks like we found no related videos. Sorry!!</h2>
      `
    } else {
      return videos.map(video => {
        let videoID = video.id;
        videoContainer.innerHTML += `
          <article class="video-article">
            <%= render "liquids/youtube", id: "${videoID}", width: 766, height: 431 %>
          </article>
        `
      })
    }
  }

  fetch(`/relevant_content?keywords=<%= @article.title %>&tags=<%= @article.cached_tag_list %>&count=3`)
    .then(res => res.json())
    .then(data => displayVideos(data))
</script>
