<div class="youtube-videos">
</div>

<script>
  // const data = {
  //   data: {
  //     id: null,
  //     type: "relevant_content",
  //     attributes: {
  //       videos: [
  //         {
  //             id: "10WnvBk9sZc"
  //         },
  //         {
  //             id: "oxoFVqetl1E"
  //         },
  //         {
  //             id: "iyC-jQKz_1A"
  //         },
  //         {
  //             id: "2KWd-5YHfiw"
  //         },
  //         {
  //             id: "8SS2iOf-UgM"
  //         },
  //         {
  //             id: "gYtvx_ay1Rw"
  //         },
  //         {
  //             id: "3_yFOSPDrgY"
  //         },
  //         {
  //             id: "fzG0Yxy0cZs"
  //         },
  //         {
  //             id: "4emnBuT3vwQ"
  //         },
  //         {
  //             id: "GfCC7u9kNC8"
  //         }
  //       ]
  //     }
  //   }
  // }

  const displayVideos = (data) => {
    let videoContainer = document.querySelector('.youtube-videos')
    let videos = data.data.attributes.videos
    let length = videos.length
    if (length === 0) {
      return videoContainer.innerHTML = `
      <h2>Looks like we found no related videos. Sorry!!</h2>
      `
    } else {
      return videos.map(video => {
        let videoID = video.id;
        videoContainer.innerHTML += `
          <article class="video-article">
            <%= render "liquids/youtube", id: "${videoID}", width: 766, height: 431 %>
          </article>
        `
      })
    }
  }

  let title = "<%= @article.title %>"
  // const keywords = '%20westworld%20robots'
  fetch(`http://localhost:3000/relevant_content?keywords=<%= @article.title %>&count=3`)
    .then(res => res.json())
    .then(data => displayVideos(data))
</script>
