---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<YOUTUBE_DATA_KEY>&maxResults=50&part=snippet&q=westworld%20robots&type=video&videoEmbeddable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Honeycomb-Trace:
      - 1;dataset=,trace_id=aad5b6d5-102e-4a91-a979-887229245e8e,parent_id=9f7004f1-5b6f-4118-b504-471f00b37a80,context=e30=
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "youtube.quota",
            "reason": "quotaExceeded",
            "message": "The request cannot be completed because you have exceeded your \u003ca href=\"/youtube/v3/getting-started#quota\"\u003equota\u003c/a\u003e."
           }
          ],
          "code": 403,
          "message": "The request cannot be completed because you have exceeded your \u003ca href=\"/youtube/v3/getting-started#quota\"\u003equota\u003c/a\u003e."
         }
        }
  recorded_at: Wed, 25 Mar 2020 23:34:36 GMT
recorded_with: VCR 5.1.0
